<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Создание постов</title>
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Всё услуги</a></li>
        </ul>
    </header>
        <form method="POST">
            <h1 class="cover-heading">Форма добавления услуги</h1>
            <input type="text" name="name" class="form-control" placeholder="Введите название услуги"/><br><br>
            <textarea name="text"  class="form-control" placeholder="Введите описание услуги"></textarea><br>
            <textarea name="prise"  class="form-control" placeholder="Введите цену"></textarea><br>
            <input type="submit" class="btn btn-warning" value="Создать" />
        </form>
</div>
</body>
</html>